<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorServerTest</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
      @*  <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Login
            </NavLink>
        </div>*@
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> SignalR-Hub
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cache">
                <span class="oi oi-plus" aria-hidden="true"></span> Cache-Coach
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Button-Fetch data
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="Data/Players">
                <span class="oi oi-people" aria-hidden="true"></span>Players
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Data/Clubs">
                <span class="oi oi-globe" aria-hidden="true"></span>SignalR-Clubs
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="Data/Coachs">
                <span class="oi oi-person" aria-hidden="true"></span>Authorize-Control
            </NavLink>
        </div>
        
        
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
